button {
	width: 100px;
	height: 60px;
	background-color: aqua;
	border: none;
	transition-property: background-color;
	transition-duration: 3000ms;
	transition-delay: 1s;
}

	
button:hover {
	background-color: greenyellow;
}